<div class="card-container">
    <div *ngFor="let p of pokemons">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{p.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="img" [src]="p.sprites.front_default" alt="Photo pokemon">
            <mat-card-content class="abilities-container">
                <mat-chip-set 
                    *ngFor="let abilite of p.abilities | slice:0:2">
                    <mat-chip>{{abilite.ability.name}}</mat-chip>
                </mat-chip-set>
            </mat-card-content>
        </mat-card>
    </div>
</div>