<footer>
    <section class="duvidas">
        <p>What is Pokémon?</p>
    </section>

    <section class="redes-sociais">
        <a href="https://www.facebook.com/Pokemon/" target="_blank" title="Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/pokemon/" target="_blank" title="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.x.com/pokemon" target="_blank" title="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
    </section>
</footer>