<form class="example-form" (submit)="onSearch($event)">
    <mat-form-field class="example-full-width">
        <mat-label>Buscar</mat-label>
        <input type="text" matInput [formControl]="textControl" class="input">
    </mat-form-field>
    <button mat-flat-button class="button">
        <mat-icon>search</mat-icon>
    </button>
</form>
<div class="spinner-container" *ngIf="(!pokemons || pokemons.length === 0) && !errorMessage">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<div *ngIf="errorMessage" class="error">
   <p> {{ errorMessage }}</p>
</div>